.podcast{
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
    background: #FFFFFF;
}

.podcast-text{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 15px;
} 

.options{
    padding: 5px 0px;
    text-align: center;
}

.options2{
    display: none;
}
.options button{
    background-color:#E5E5E5;
    padding: 5px 5px;
    border-radius: 5px;
    text-decoration: none;
    color:#000000;
    font-size: 15px;
    border: none;
    margin-left: 5px;
}
.options button:hover{
    background-color: #000000;
    color: #FFFFFF;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow: scroll;
}

.container::-webkit-scrollbar {
    display: none;
}


@media only screen and (min-width: 991px) and (max-width:1199px) {
    .options{
        display: none;
    }

    .options2{
        display: flex;
        padding: 5px 150px;
        text-align: center;
        justify-content: center;
    }

    .options2 button{
        background-color:#E5E5E5;
        padding: 5px 5px;
        border-radius: 5px;
        text-decoration: none;
        color:#000000;
        font-size: 15px;
        border: none;
        margin-left: 5px;
    }
    .options2 button:hover{
        background-color: #000000;
        color: #FFFFFF;
    }

    .container{
        width: 80%;
        padding: 0px 190px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        overflow: scroll;
    }    
}

@media only screen and (min-width: 1199px) and (max-width:1440px) {
    .options{
        display: none;
    }

    .options2{
        display: flex;
        padding: 5px 150px;
        text-align: center;
        justify-content: center;
    }

    .options2 button{
        background-color:#E5E5E5;
        padding: 5px 5px;
        border-radius: 5px;
        text-decoration: none;
        color:#000000;
        font-size: 15px;
        border: none;
        margin-left: 5px;
    }
    .options2 button:hover{
        background-color: #000000;
        color: #FFFFFF;
    }

    .container{
        width: 87.8%;
        padding: 0px 176px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        overflow: scroll;
    }    
}